name: Continuous deployment

on: 
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.?[0-9]*.?[0-9]*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            script: ubuntu.sh
          # - os: windows-latest
          #   script: windows.bat
          - os: macos-latest
            script: darwin.sh
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true

    - name: Build and deploy
      run: ./cicd/${{ matrix.script }} pack

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        path: ./build/packaging/out/*
        name: ${{ matrix.os }}-packed-artifacts

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        merge-multiple: true
        path: packages

    - name: Make release
      uses: softprops/action-gh-release@v2
      with:
        files: packages/*
        draft: false
        prerelease: false
        make_latest: true
